{{#if hasBlock}}
  <span class="block-content">
    {{yield this}}
  </span>
{{else}}
  {{#each _columns as |column|}}
    {{#if column.hidden}}{{else}}
      {{ui-column-pane row=this column=column data=this.data}}
    {{/if}}
  {{/each}}
{{/if}}
