{{#demo-css}}
<h3>Component::<code>demo-sortable-item</code></h3>

<span style="display:block;width:350px">{{ui-sortable-item title='title' subHeading='my subheading' icon='shopping-cart'}}</span>
<h4>Overview</h4>
<desc>
    <p>A sortable item is just a ui-item with a handle defaulted to the right and with actions set to trigger a re-sort.</p>
</desc>

{{/demo-css}}