{{#demo-css}}
<h3>Component::<code>ui-tabular-list</code></h3>


{{ui-nav-list
  items='Overview,Basic Inline,Limits and Offsets,Dynamic Styling::styling,Block Form'
  selected=subNav
  position='top'
  onChange=(action 'navSubMenu')
  skin='tab'
  size='small'
}}
{{outlet}}


{{/demo-css}}
