{{#demo-css}}
<h3>Component::<code>ui-tabular-list</code></h3>

<h3>Overview</h3>
<row>
  <description>
    <p>
      A tabular list contains rows, columns, and cells. From a component structure standpoint,
      the diagram to right demonstrates this relationship.
    </p>
    <p>
      Like other <prop>ui-list</prop> components <prop>ui-tabular-list</prop> is meant to be used
      as both an <i>inline</i> and <i>block</i> component.
    </p>
  </description>
  <description class="wide">
    <img src='images/tabular-list.png' width='100%' />
  </description>
</row>
<br/>
<h3>Examples</h3>
<row>
  <widget class='wide'>
    {{ui-tabular-list
      columns=columns
      rows=appointments
    }}
  </widget>
  <code>
    {{display-component componentName='ui-tabular-list'
      columns=':columns'
      rows=':appointments'
    }}
  </code>
  <description>
    description
  </description>
</row>


{{/demo-css}}
