{{#demo-css}}
<h3>Component::<code>ui-nav-list</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        A <prop>nav list</prop> is a <prop>ui-selectable-list</prop> with cardinality defaulted to "1:1" and the skin set to "nav".
    </desc>
</div>

<h4>Sections</h4>
{{ui-nav-list
  items='Simple,Styling,Advanced,Actions'
  onChange='changeSubNavigation'
  value=subNavigation
  position='top'
  skin='tab'
}}
<br/>
{{outlet}}
{{/demo-css}}
