<h3>Component::<code>ui-list</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        The <code>ui-list</code> is the default list container. The key properties are:
    </desc>
    <desc>
        <ul>
            <li>
                type
                <ul>
                    <li>This gives a functional distinction for the list</li>
                    <li>The clearest effect of a type is which Item components will be used but it can also effect</li>
                    <li>By default this "type" defaults to "simple" which </li>
                </ul>
            </li>
            <li>
                style
                <ul>
                    <li>allows the user to choose from a variety of visual style familes in CSS</li>
                    <li>the style can be related to a "type" but in most cases they're independant actors</li>
                </ul>
            </li>
            <li>
                size
                <ul>
                    <li>amongst other things this gives us to CSS psuedo events to work with <code>valid</code> and <code>invalid</code></li>
                    <li>more importantly it provides context to browsers so they can make our lives better with better keyboards, etc.</li>
                </ul>
              </li>
        </ul>
        
    </desc>
</div>

<h4>Example</h4>

<div class="examples">
    <table class="row">
        <tr>
            <td class="col-xs-12 col-sm-7 text-center align-middle">
                
                
            </td>
            <td class="hidden-xs col-sm-5">
                {{#code-block language="handlebars" poll=500}}

                {{/code-block}}         
            </td>
        </tr>
    </table>
</div>



